.main-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

h1 {
  color: black;
  text-align: center;
}

.container {
  border: 2px;
  border-style: solid;
  border-color: black;
  margin-bottom: 4%;
  border-radius: 3px;
}

.book {
  display: flex;
  justify-content: space-between;
  border: 1px;
  border-color: black;
  margin: 0;
  padding: 0;
  height: 30px;
}

.book:nth-child(odd) {
  background-color: rgb(173, 173, 173);
}

.book:nth-child(even) {
  background-color: white;
}

h2 {
  color: black;
  text-align: center;
}

li {
  list-style: none;
  padding: 1%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 60%;
  margin: auto;
}

#book-form {
  display: flex;
  gap: 10px;
}

.about-border {
  display: block;
  width: 20%;
  height: 2px;
  background: black;
  margin: auto;
}

form button {
  padding: 3px 10px;
  background-color: white;
  box-shadow: 2px 2px;
  border: 2px solid black;
}

.book button {
  align-self: center;
  background-color: white;
  box-shadow: 2px 2px;
  border: 2px solid black;
  font-size: 16px;
  margin-right: 10px;
}

input {
  width: 98%;
  margin: auto;
  height: 30px;
  border: 2px solid black;
  box-shadow: 1px 1px;
}

@media screen and (min-width: 1020px) {
  body {
    margin: 20px 150px;
  }

  .main-section {
    border: 2px solid black;
    padding: 10px;
    width: 60%;
    margin: auto;
  }
}

@media screen and (min-width: 1440px) {
  .main-section {
    width: 50%;
    margin: auto;
  }
}
